.main {
  /* width: 1440px;
      height: 2427px; */
    /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
    */
    }